.brand-logo{
    font-family: 'IBM Plex Sans', sans-serif;
}

html,body,.row{
    height: 100%;
}

.tabs{
    margin-top: 50px;
}

.course_card{
  height: 150px;
}

.post_body{
  word-wrap    : break-word;
  overflow-wrap: break-word;
}

.modal-course{
  margin-top: 50px;
}

.course-nav{
  margin-bottom: 50px;
}
