{% extends 'layout.html' %}

{% block navroute %}
/
{% endblock navroute %}

{% block navitem %}
<ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/logouttc">Logout</a></li>
</ul>
{% endblock navitem %}

{% block body %}
<div class="row">
    <div class="col s12 course-nav">
      <ul class="tabs">
        <div class="col s2"></div>
        <li class="tab col s3"><a href="#posts" class="active light-blue white-text">Posts</a></li>
        <div class="col s2"></div>
        <li class="tab col s3"><a class="light-blue white-text" href="#assignments">Assignments</a></li>
        <div class="col s2"></div>
      </ul>
    </div>
    <!-- Posts -->
    <div id="posts" class="col s12">
      <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Create a New Post</span>
            </div>
            <div class="card-action">
              <form class="" action="/addpost" method="post">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="post_title" type="text" name = "post_title" class="validate">
                    <label for="name">Post Title</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" name="post_body" data-length="1000"></textarea>
                    <label for="textarea1">Content</label>
                  </div>
                </div>
                <input type="hidden" name="course_id" value="{{course['course_id']}}">
                <div class="row">
                  <div class="input-field col s6">
                    <input type="submit" name="submit" value="submit" class="btn light-blue">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      {% for post in posts %}
        <div class="row">
          <div class="col s12 m12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">{{post.post_title}}</span>
              </div>
              <div class="card-action post_body">
                <span class="badge">Posted On : {{post.post_date.strftime('%Y-%m-%d')}}</span>
                <p>{{post.post_body}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Assignments -->
    <div id="assignments" class="col s12">
      <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Give a new Assignment</span>
            </div>
            <div class="card-action">
              <form class="" action="/addassignment" method="post">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="task_title" type="text" name = "task_title" class="validate">
                    <label for="name">Assignment Title</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" name="task_body" data-length="1000"></textarea>
                    <label for="textarea1">Content</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" id="task_date" class="datepicker" name="task_date"></input>
                    <label for="task_date">Date</label>
                  </div>
                </div>
                <input type="hidden" name="course_id" value="{{course['course_id']}}">
                <div class="row">
                  <div class="input-field col s6">
                    <input type="submit" name="submit" value="submit" class="btn light-blue">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% for task in uni_tasks %}
        <div class="row">
          <div class="col s12 m12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">{{task.task_title}}</span>
              </div>
              <div class="card-action post_body">
                <span class="badge">Due : {{task.task_date.strftime('%Y-%m-%d')}}</span>
                <p>{{task.task_body}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    var el = document.querySelector('.tabs');
    var instance = M.Tabs.init(el, {});
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });
</script>

{% endfor %}

{% endblock %}
