{% extends 'layout.html' %}

{% if errors: %}
  {% for error in (errors): %}
    {{ error }}
  {% endfor %}
{% endif %}

{% block navroute %}
/
{% endblock %}

{% block navitem %}
<ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/about">About</a></li>
    <li><a href="/faq">FAQ</a></li>
</ul>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <div class="col s2"></div>
      <li class="tab col s3 light-blue"><a class="active white-text" href="#teacher">Teacher</a></li>
      <div class="col s2"></div>
      <li class="tab col s3 light-blue"><a class="white-text" href="#student">Student</a></li>
      <div class="col s2"></div>
    </ul>
  </div>
  <!-- Teacher Form -->
  <div id="teacher" class="col s12">
    <!-- Card -->
  <div class="row">
    <div class="col s2 m2">

    </div>
    <div class="col s8 m8">
      <div class="card">
        <div class="card-content">
          <span class="card-title center">Teacher</span>
          <!-- Form -->
          <div class="row">
            <form class="col s12" action="/logintc" method="post">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" name = "email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" name="password" class="validate">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input type="submit" name="submit" value="submit" class="btn light-blue">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col s2 m2">

    </div>
  </div>
  </div>
  <!-- Student form -->
  <div id="student" class="col s12">
    <div class="row">
      <div class="col s2 m2">

      </div>
      <div class="col s8 m8">
        <div class="card">
          <div class="card-content">
            <span class="card-title center">Student</span>
            <!-- Form -->
            <div class="row">
              <form class="col s12" action="/loginst" method="post">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" type="email" name = "email" class="validate">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="password" type="password" name="password" class="validate">
                    <label for="password">Password</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="submit" name="submit" value="submit" class="btn light-blue">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col s2 m2">

      </div>
    </div>
  </div>
</div>
<script>
    var el = document.querySelector('.tabs');
    var instance = M.Tabs.init(el, {});
</script>
{% endblock %}
