{% extends 'layout.html' %}

{% block navroute %}
/
{% endblock navroute %}

{% block navitem %}
<ul id="nav-mobile" class="right hide-on-med-and-down">
    <button class="sidenav-trigger btn light-blue" href="#!" data-target="slide-out"><i class="material-icons">person</i></button>
    <li><a href="/logouttc">Logout</a></li>
</ul>
{% endblock navitem %}
{% block body %}
<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background light-blue">

      </div>
      <a href="#!name"><span class="white-text name">{{session['teacher']['name']}}</span></a>
      <a href="#!email"><span class="white-text email">{{session['teacher']['email']}}</span></a>
    </div></li>
    <li><a href="/changePass">Change Password</a></li>
</ul>


{% if error %}
<div class="materialert error">
    <div class="material-icons">error_outline</div>
  <span>{{error}}</span>
  <button type="button" class="close-alert">×</button>
</div>
{% endif %}
<div class="row center-align">
  <button data-target="modal1" class="btn-floating btn-large light-blue modal-course modal-trigger"><i class="material-icons">add</i></button>
</div>
<div class="row">
{% if not mapuh %}
<div class="row center-align">
  <h3>OOPS! No course yet!</h3>
</div>
{% endif %}
{% for course in mapuh %}
<!-- CODE/ID -->
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content course_card">
          <span class="card-title">{{course}}({{mapuh[course]}})</span>
        </div>
        <div class="card-action">
          <form class="" action="/get_course" method="post">
            <input type="hidden" id="course_id" name="course_id" value="{{course}}">
            <input type="hidden" id="course_title" name="course_title" value="{{mapuh[course]}}">
            <input class="btn light-blue white-text" type="submit" name="go_button" value="See Course">
          </form>
        </div>
      </div>
    </div>
{% endfor %}
</div>
<!-- Modal Trigger -->

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Create a new course</span>
        </div>
        <div class="card-action">
          <form class="validate" action="/addcourse" method="post">
            <div class="row">
              <div class="input-field col s12">
                <input id="course_id" type="text" name = "course_id" class="validate">
                <label for="course_id">Course Code</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="course_name" type="text" name = "course_name" class="validate">
                <label for="course_name">Course Name</label>
              </div>
            </div>
            <input type="hidden" name="teacher_id" value="{{teacher.id}}">
            <div class="row">
              <div class="input-field col s6">
                <input type="submit" name="submit" value="submit" class="btn light-blue">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
  var elem = document.querySelector('.sidenav');
  var instance = new M.Sidenav(elem);

  // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  // var collapsibleElem = document.querySelector('.collapsible');
  // var collapsibleInstance = new M.Collapsible(collapsibleElem, options);

  // Or with jQuery

  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
{% endblock %}
